.container {
  display: flex;
  justify-content: space-around;
}

.fs-16 {
  font-size: 16px;
}

.fs-32 {
  font-size: 32px;
}

.fs-64 {
  font-size: 64px;
}

.fs-128 {
  font-size: 128px;
}

.fs-256 {
  font-size: 256px;
}
