* {
  box-sizing: border-boxq;
}

.navigation {
  display: flex;
  min-height: 200px;
  background-color: #ff7f50;
  flex-grow: 1;
}

.products-list {
  display: flex;
  min-height: 200px;
  background-color: #006400;
  flex-grow: 1;
}

.news {
  display: flex;
  min-height: 200px;
  background-color: #0ff;
  flex-grow: 1;
}

span {
  padding: 8px;
  margin: auto;

  background-color: #faebd7;
  font-family: Verdana;
  text-transform: lowercase; 
  border-radius: 4px;
}

@media (min-width: 600px){
  .products {
    display: flex;
    flex-grow: 1.8;
  }
}

@media (min-width: 900px){
  .content {
    display: flex;
  }
}